@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-15px); }
  100% { transform: translateY(0px); }
}

@keyframes floatFast {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-25px); }
  100% { transform: translateY(0px); }
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}

.animate-floatFast {
  animation: floatFast 4s ease-in-out infinite;
}

@keyframes scroll-x {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-x {
  animation: scroll-x 25s linear infinite;
}

.pause-on-hover:hover {
  animation-play-state: paused;
}

@keyframes text-scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-text-scroll {
  animation: text-scroll 20s linear infinite;
}

@keyframes pop-loop {
  0% { opacity: 0; transform: scale(0.8); }
  10% { opacity: 1; transform: scale(1); }
  30% { opacity: 1; transform: scale(1); }
  40% { opacity: 0; transform: scale(1.1); }
  100% { opacity: 0; }
}

@keyframes image-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-image-marquee {
  animation: image-marquee 22s linear infinite;
}



